albumentations==1.4.6
einops==0.8.0
h5py==3.9.0
joblib==1.4.2
kornia==0.7.2
loguru==0.5.3
matplotlib==3.7.5
numpy==1.24.3
opencv_python==4.9.0.80
Pillow==10.0.1
Pillow==10.3.0
pytorch_lightning==2.2.4
setuptools==68.2.2
superglue==0.20.0
timm==0.9.16
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.2
variable_gather==0.0.0
yacs==0.1.8
